/*=== Reset ===*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-style: "Open Sans" ;
  font-weight: 300 ;
}

.hidden{
  display: none;
}

.idea-form {
  padding: 2em .9375em;
  display: flex;
  flex-direction: column;
}

.search-ideas {
  display: grid;
  width: 100%;
  grid-template-columns: 3.25em 1fr;
  grid-template-rows: 3.25em;
}

.search-ideas div {
  height: 100%;
  width: 100%;
  grid-column: 1;
}

.search-ideas div img {
  width: 1.8125em;
  height: auto;
}

.search-ideas input {
  height: auto;
  width: 100%;
  grid-column: 2;
}

.ideas img {
  width: 20px;
  height: auto;
}

h3 {
text-align: center;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;
}

.purple-5 {
  background: #353567;
}


/*=== Fonts ===*/

.header-text {
  color: #1F1F3D;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 20px;
  font-size: 1.3em;
}

.body-text {
  font-family:'Open Sans';
  font-weight: 300;
}

.light-text{
  color: #e9e9f3;
}
/*===    borders   ===*/

.border-top{
  border: 2px solid;
  border-color: #5356A5;
  /* border-color: #4b4e95; */
  /* border-color: #353567; */
  border-radius: 2px;
}
/*=== menu section ===*/

.menu {
  height: 65px;
  width: 100%;
  position: relative;
}

.menu img{
  position: absolute;
  width: 2.8125em;
  height: auto;
  top: 1.25em;
  left: .5em;
}

/*=== main section ===*/

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  flex-grow: 2;
}

.idea-cards {
  flex-grow: 3;
}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 18px;
    padding: 10px;
  }

  .menu {
    height: 40px;
    text-align: center;
    width: 100%;
  }

  .idea-form {
    flex-grow: 1;
  }
}
